# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
ENV/

# Conda
*.conda
conda-meta/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Data (don’t commit raw datasets)
data/**
!data/.gitkeep

# Models/artifacts
models/**
!models/.gitkeep

# Streamlit
.streamlit/

# VS Code
.vscode/